<h1>Reviews</h1>

{{#each reviews}}

<h2>{{this.title}}</h2>
<h1>{{this.movietitle}}</h1>
<h1>{{this.description}}</h1>
<h1>{{this.stars}}</h1>
<p><a href="/reviews/{{this._id}}">{{this.title}}</a></p>
{{/each}}

<a href="/reviews/new">New Review</a>
